@media screen and (min-width: 600px) {
  .about {
    height: 2000px;
  }
  .bubble {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .about {
    height: 2000px;
  }
  .bubble {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1500px) {
}
@media screen and (min-width: 1800px) {
}

@font-face {
  font-family: AboutFont;
  font-weight: initial;
  src: url("Fonts/AboutFont.ttf");
}

#about {
  margin-top: 7%;
  margin-left: 2%;
  position: absolute;
  font-family: AboutFont;
}

#about-img {
  overflow-y: hidden;
}

.about {
  font-family: AboutFont;
  max-width: 20000px;
  margin: 2px;
  margin-top: 5%;
  height: 2000px;

  border-radius: 40px;
  border-style: double;
  border-width: 4px;
  border-color: 10px 10px 0px rgba(84, 9, 0, 0.7);
  border-left: none;
  border-right: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  overflow: hidden;
}

/* Pro bubble tech */
.bubble {
  text-align: center;
  animation: ease-in dynamicBubble 10s infinite;
  font-size: 30px;
  transition: 3s;
  background: white;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7), 10px 10px 0px rgba(84, 9, 0, 0.7),
    15px 15px 4px rgba(0, 0, 0, 0.7);
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;

  width: 30%;
  height: 35vh;
  display: block;

  margin-top: 5%;
  margin-left: 10%;
}

.bubble:hover {
  animation-play-state: paused;
  transition: 3s;
  background: #fff0f0;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.7),
    30px 30px 0px rgba(84, 9, 0, 0.7), 40px 40px 20px rgba(0, 0, 0, 0.7);
  overflow-y: scroll;

  width: 50%;
  height: 60vh;
  display: inline-block;
}

footer.ARS {
  margin-left: 10%;
  margin-top: 3%;
  width: 80vw;
  height: 10vh;
  position: absolute;

  background-color: darkgrey;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

@keyframes dynamicBubble {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 30px);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-5px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
