@media screen and (max-width: 600px){
    body{
        background-color: whitesmoke;
    }
}
@media screen and (min-width: 900px ){
    body{
        background-color: whitesmoke;
    }
}
@media screen and (min-width: 1200px ){
    body{
        background-color: whitesmoke;
    }
}
    
#branding{
    text-align: left;
    padding: 10px;
}

.top_nav{
    color: linear-gradient(#8F00FF, #42008C);
    overflow: hidden;
    border-color: 333;
    border-width: 1px;
    box-shadow: 5px 6px 7px #8F00FF, 10px 15px 15px #00689A;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px;
    top: 0;
}
.website_nav{
    float: left;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20%;
}

.website_nav:hover{
    background-color: #ddd;
    color: black;
}

/* Pro bubble tech */
.bubble{
    background: white;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7),
                10px 10px 0px rgba(84, 9, 0, 0.7),
                15px 15px 4px rgba(0, 0, 0, 0.7);
    border-top-left-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    overflow-x: hidden;
    overflow-y: scroll;

    width: 40%;
    height: 40vh;
    display: inline-block;
    margin-bottom: 5%;

    border-style: double;
    border-color: black;
    padding-top: 1px;
    padding-bottom: 1px;
}

.about{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 5%;
    height: 80vh;
    border-radius: 10px;

    background-color:grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}