body {
    background: linear-gradient(to right, #ff9190, #fdc094);
    height: auto;
    width: 100%;
}



/*Intro */
h1.Intro{
    position:relative;
    border-bottom: solid;
    border-color: #ff9190;
    border-width: 5px;
}
p.AD{
    position: sticky;
    top: 0%;
    margin-left: -10px;
    width: 100px;
    background-color: red;
    opacity: 0.5;
    color: whitesmoke;
    display: inline-block;
}

span.Loke{
    color: rgb(165, 0, 0);
    background-color: azure;
}

img.Intro{
    border-style: inset;
    border-color: #ff9190;
    margin-bottom: 2%;
    margin-left: 60%;
    display: inline-block;
    height:120px;
    width:250;
}
/*End of intro*/


/*Near You Segment*/
li.NearYou{
    border-style: outset;
    display: block;
    background: linear-gradient(to left, #ff9190, #fdc094 );
}
img.NearYou{
    border-style:groove ;
    border-radius: 50px;
    border-width: 5px;
    border-color: #d55e5c;
}


p.NearYou{
    background-color: aliceblue;
    border-bottom: groove;
    border-color: #ff9190;
    border-radius: 5px;
    display: block;
}
/*End of Near You Segment*/

div.Motivation{
    background: linear-gradient(to left, #ff9190, #fdc094);
    background:linear-gradient(to left, 0.5, 0.2);
    opacity: 0.6;
    width: 1000px;
}

/*Outro*/
input{
    margin-right:10%;
    margin-left: 50px;
    position: absolute;
    display: inline-block;
    right: 15%;
}
div.parter_signup{
    top: -10%;
}
iframe.osk{
    width: 80%;
    height: 500px;
}