@media screen and (max-width: 600px) {
  
}

@media screen and (min-width: 900px) {
  
}

@media screen and (min-width: 1200px) {
  
}





@font-face {
  font-family: RecipeFont;
  font-weight: bold;
  font-size: 3em;
  src: url("../Fonts/RecipeFont.ttf");
}

body,
#DOOM {
  background-color: #5d0000;
}

h1 {
  text-align: center;
  font-size: 2em;
}

img#recipe {
  border-radius: 15px;
  width: 50%;
  height: 50%;
}

.recipe-container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;

  border-radius: 25px;
  border-style: initial;
  background-color: grey;
  overflow: hidden;
}

#doom-recipe-container {
  flex-direction: column;
}

#doom-recipe {
  max-width: 47%;
}
.recipe-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: center;
}

.recipe-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recipe {
  overflow-y: scroll;
  overflow-x: hidden;

  display: block;
  position: relative;
  flex-direction: row;
  width: 30%;
  height: 40%;
  margin: 1%;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: aliceblue;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe::-webkit-scrollbar {
  display: none;
}

.recipe h2 {
  font-size: 3em;
  margin: 0.5em 0;
}

.recipe ul {
  font-family: RecipeFont;
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe li {
  font-size: 1.5em;
  margin: 1em;
  word-spacing: 5px;
  letter-spacing: 1px;
}
