body.index{
    background: linear-gradient(to bottom right, rgba(250, 165, 131, 0.88), #640A67);
    height: 200vh;
    width: 100%;
    margin: 0px;
}
/*Meny*/
header.top{
    transition:300ms;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: #FAA583;
    display: inline-block;
    position: absolute;
    flex-wrap: wrap;
    top: 0%;
    left:0%;
    width: 100%;
    height: 150px;
    justify-content: center;
}
header.top:hover{
    transition:600ms;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

img.top{
    transition:1000ms;
    height: 100px;
    width: 100px;
    left:0%;
    margin-top: -20px;
    position: absolute;
}
img.top:hover{
    transition:1000ms;
    transform: rotate(-45deg);
}

div.top{
    padding-left: 50%;
    margin-top: 3%;
}

a.Emoji{
    font-size: 20px;
    padding-left: -200px;
    padding-right: 300px;

}

a.menu{
    color:black;
    text-align: center;
    text-decoration:double;
    padding-top: -100px;
    padding-right: 20px;
}
a.menu:hover{
    color:azure;
    background-color: transparent;
    text-decoration: underline;
}



/*Slut på menyn*/
h1.Intro{
    text-align: center;
    position:relative;
    letter-spacing: 10px;
    text-shadow: 2px 2px 1px #640A67;

}
h2.Intro{
    position: sticky;
    text-decoration:underline;
    top: 0%;
    text-shadow: 5px 2px 5px #ffffff;
}
#Intro-AD{
    color: darkgrey;
    background-color: #FAA583;

    position: fixed;
    margin-left: -10px;
    top: 20px;
    width: 270px;
    height: auto;
    text-align: center;
    opacity: 0.7;

    overflow:visible;

    border-style:hidden;
    border-radius: 5%;
    transform: rotate(-25deg);
}
div.ShortIntro{
    text-align: center;
    display: flex;
}
img.Intro{
    text-align: center;
    max-width: 40%;
    height: auto;
    
    border-style: double;
    border-top-color: #800066;
    border-bottom-color: #FAA583;
    border-width: 10px;
    border-radius: 25%;
    border-right-style: hidden;
    border-left-style: hidden;
    opacity: 0.9;

    position: relative;
}


ul{
    max-width: 15%;
    display:inline-block;
}


.right {
    float:right;
}

.left{
    float:left;
    margin-left: 4%;
}

h5{
    font-style: right;
}

li.Summary{
    margin-top: 20%;
    border-style:solid ;
    border-radius: 10%;
    border-color:whitesmoke;
    border-width: 2px;
    max-height: 150px;

    overflow:hidden;
    color:honeydew;
    word-spacing: 6px;
    list-style-type:circle;
}

